# Ignore Python local cache across repo
**/__pycache__/

# Ignore BuildStream local state
.bst
.bst2

# Never commit project.refs
project.refs

# Produced by the gnomeos build scripts
ostree-gpg/
ostree-repo/

**/*.DS_STORE
logs/
*.img
*.tar

# Ignore the default checkout directory
checkout/

files/boot-keys/DB.crt
files/boot-keys/DB.key
files/boot-keys/KEK.crt
files/boot-keys/KEK.key
files/boot-keys/PK.crt
files/boot-keys/PK.key
files/boot-keys/VENDOR.crt
files/boot-keys/VENDOR.key
files/boot-keys/extra-db/
files/boot-keys/extra-kek/
files/boot-keys/linux-module-cert.crt
files/boot-keys/linux-module-cert.key

# aemeath cache keys
aemeath.crt
aemeath.key

# aemeath results
target/
disks/
